# MS Store Assets and Build Artifacts
*.msix
*.yaml
*.png
*.spec
*.exe
*.zip
*.pkg

# Logs and Reports
*.log
*.tmp

# IDE and Environment Files
.idea/
__pycache__/
*.pyc
*.pyo
*.so
.DS_Store

# Virtual Environments
venv/
.env/